:root {
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Inter", sans-serif;

    --fs-xl: clamp(3.15rem, 10vw + 1rem, 12rem);
    --fs-lg: clamp(1.25rem, 3.5vw + 1rem, 4rem);
    --fs-md: clamp(1rem, 1vw + 1rem, 1.75rem);
    --fs-sm: clamp(1rem, 1vw + .5rem, 1.25rem);
    --fs-xs: clamp(.9rem, 1vw + .25rem, 1rem);

    --logo-size-lg: clamp(5em, 20vw + 1em, 20em);
    --logo-size-sm: clamp(2.5em, 10vw + 1em, 10em);

    --video-size-lg: clamp(4em, 10vw + 1em, 11em);
    --video-size-sm: clamp(1em, 16vw + 1em, 16em);

    --clr-primary: #F8F7F3;
    --clr-secondary: #292929;
    --clr-neutral: #B2B2B2;

    background-color: var(--clr-primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
}

#container {
    max-width: 100rem;
    margin: auto;
}

header {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

h1 {
    font-size: var(--fs-xl);
    font-weight: 900;
    line-height: 1;
    overflow-wrap: break-word;
}

h2 {
    font-size: var(--fs-lg);
    font-family: var(--ff-secondary);
    font-weight: 900;
    line-height: 1;
    overflow-wrap: break-word;
}

h3 {
    font-size: var(--fs-sm);
    font-weight: 600;
    font-family: var(--ff-secondary);
    color: var(--clr-neutral);
    margin-top: .25rem;
}

p {
    font-size: var(--fs-md);
    font-family: var(--ff-secondary);
    font-weight: 800;
    margin: 1rem 0;
}

nav {
    position: sticky;
    top: 0rem;
    text-align: center;
    z-index: 2;
}

nav ul li {
    font-size: var(--fs-xs);
    display: inline-block;
    margin: 1rem .75rem;
    font-weight: 600;
}

hr {
    background: var(--clr-secondary);
    margin: 0 1rem;
    border: none;
}

.bold-line {
    height: .25rem;
}

.thin-line {
    height: .1rem;
}

main {
    margin: 0 auto;
}

.project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin: 2rem 1.5rem;
}

.right {
    flex-wrap: wrap-reverse;
}

.description {
    flex: 1 1 40%;
}

.visual {
    flex: 1 1 60%;
    position: relative;
}

video {
    width: 100%;
    border: .25rem solid black;
    border-radius: .75rem;
    overflow: hidden;
    background-color: var(--clr-secondary);
}

img {
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;  
    image-rendering:-webkit-optimize-contrast;
    image-rendering: pixelated;
    background-color: transparent;
}

.desktop-video {
    width: 87.5%;
    float: right;
}

.mobile-video {
    position: absolute;
    width: var(--video-size-sm);
    z-index: 1;
    bottom: 0;
    left: .5em;
}

.logo {
    position: absolute;
    width: var(--logo-size-lg);
    z-index: 1;
}

.one {
    bottom: -.15em;
    right: -.5em;
}

.two {
    bottom: -.25em;
    right: -.25em;
}

.three, .four {
    width: var(--logo-size-sm);
    bottom: -.05em;
    right: -.2em;
}

a:link, :visited {
    color: var(--clr-neutral);
    text-decoration-line: none;
}

.repo {
    font-family: var(--ff-secondary);
    font-size: var(--fs-xs);
    color: var(--clr-neutral);
    font-weight: 600;
    float: right;
}

button {
    color: var(--clr-neutral);
    font-size: var(--fs-xs);
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
}

footer * {
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    margin: 0 auto;
}

footer p {
    font-size: var(--fs-md);
    margin: 1rem 0;
}

#about {
    max-width: 100rem;
    padding: 5rem 3rem 0 3rem;
}

#contact {
    max-width: 100rem;
    text-align: right;
    padding: 5rem 3rem;
}

#contact a, #contact button {
    font-size: var(--fs-md);
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
    width: 4rem;
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
    margin-top: 1rem;
    background: none;
}

.icon {
    margin-left: .5rem;
    width: 1.25rem;
    background: none;
}

#popup {
    position: fixed;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    font-size: var(--fs-md);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1rem;
    border: .25rem solid var(--clr-secondary);
    border-color: var(--clr-secondary);
    border-radius: 1rem;
    display: none;
}

@media (min-width: 50em) {
    nav ul li {
        font-size: var(--fs-sm);
        margin: 1rem 3rem;
    }

    button {
        font-size: var(--fs-sm);
    }

    footer p {
        font-size: var(--fs-md);
        margin: 1rem 0;
    }

    #contact a, #contact button{
        font-size: var(--fs-md);
    }

    h3 {
        margin-top: 1rem;
    }

    video {
        border: .5rem solid black;
        border-radius: 1.25rem;
    }

    .project {
        margin: 2rem 2.5rem;
    }
    
    .icon {
        width: 2rem;
    }
}

@media (min-width: 80em) {
    .project {
        gap: 3rem;
        margin: 6rem 7rem;
        flex-wrap: nowrap;
    }

    video {
        border-radius: 1.5rem;
    }

    .mobile-video {
        width: var(--video-size-lg);
    }

    .right .description {
        text-align: right;
    }

    .right .repo {
        float: left;
    }

    .one {
        bottom: -1em;
        right: -3.75em;
    }
    
    .two {
        bottom: -1.5em;
        left: -2em;
    }
    
    .three {
        bottom: -2em;
        right: -2em;
    }

    .four {
        bottom: -1.75em;
        left: -2em;
    }
}

@media (hover: hover) and (pointer: fine)
{
    button:hover, a:hover
    {
        color: var(--clr-secondary);
        transition: 0.25s;
    }

    #contact a:hover, #contact button:hover
    {
        filter: brightness(75%);
        transition: 0.25s;
    }
}